body {
    margin: 0 auto;
}

.layout {
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-flow: nowrap column;
    background-color: #c2f0f0;
}

.header {
    width: 100vw;
    background-color: #239090;
    color: #fff;
    font-family: Arial;
    font-weight: 500;
    font-size: 24px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.content {
    width: 100vw;
    height: inherit;
    display: flex;
    margin-top: 40px;
    gap: 10px;
}

.chatlist {
    width: 20vw;
    height: calc(100vh - 40px);
    overflow-y: scroll;
    background-color: #c1f0f0;
    position: relative;
}

.chatlist_item {
    position: relative;
    z-index: 1;
}

.chatlist_link>div>div.MuiListItemText-root {
    position: relative;
    z-index: 1;
}

.del_chat-btn {
    position: absolute;
    right: 5%;
    z-index: 3;
}

.chatlist_link {
    text-decoration: none;
    color: #239090;
}

.chatlist_link>div>div.MuiListItemText-root>span {
    font-size: 22px;
    font-weight: 700;
}

@keyframes highlighting {
    100% {
        color: #ff8533;
    }
}

.highlight {
    animation: highlighting 1.5s cubic-bezier(.14, .36, 0, 1);
}

.add_chat_field {
    display: flex;
    justify-content: space-between !important;
    gap: 10px;
}

.add_chat_btn {
    width: 48px;
    height: 48px;
}

.new_chat_title {
    flex-basis: 80%;
}

.message_field {
    width: 80vw;
    display: flex;
    flex-flow: nowrap column;
    background-color: #d6f5f5;
}

.messages_board {
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex-flow: nowrap column;
    padding: 10px;
    position: static;
    height: calc(100vh - 96px);
    right: 0;
}

.message {
    background-color: #98e6e6;
    padding: 7px 20px 5px;
    max-width: 70vw;
    border-radius: 10px;
    margin: 0 0 8px;
}

.message_text {
    font-size: 20px;
    margin: 0;
}

.message_sender {
    font-size: 16px;
    text-align: right;
    color: #d6f5f5;
    margin: 3px 0 0;
}

.text_field {
    width: 79vw;
    height: 56px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    gap: 1vw;
    position: fixed;
    bottom: 0;
    background-color: #6fdcdc;
    font-size: 22px;
}

.typing_text {
    flex-basis: 78vw;
}

.MuiOutlinedInput-notchedOutline {
    border: none;
}

.profile {
    background-color: #c1f0f0;
    width: 100vw;
    height: 100vh;
}

.profile_header {
    background-color: #239090;
    width: 100vw;
    height: 40px;
    padding: 0 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.profile_header_title {
    font-size: 34px;
    color: #fff;
    font-weight: 500;
}

.profile_header>a {
    font-size: 24px;
    color: #fff;
    position: absolute;
    left: 20px;
    top: 8px;
}

.profile_link {
    font-size: 22px;
    color: #fff;
    position: fixed;
    left: 50px;
    top: 8px;
    text-decoration: underline;
}

.profile_data {
    padding: 30px 50px;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    align-items: flex-start;
}

.user_info_block {
    padding-left: 10px;
    font-family: Arial;
    border: 0.5px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    color: #239090;
    font-size: 26px;
    cursor: default;
}

.user_name_input>div>fieldset,
.user_age_input>div>fieldset {
    color: #239090;
    border: none;
    text-decoration: underline;

}

.user_name_input>div>input,
.user_age_input>div>input {
    font-size: 26px;
    width: 200px;
    color: #239090;
    font-weight: 700;
}

.profile_data>button {
    background-color: #239090;
}

fieldset {
    cursor: text;
}